

<div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
  <div class="mx-auto w-full max-w-sm lg:w-96">
    <div>
      <%= image_tag Tybo.configuration.logo_url, class: 'h-12 w-auto'%>
      <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
    <div class="mt-4">
    <% @resources.each do |resource| %>
    <a href="<%=send("new_#{resource.to_s}_session_path")%>" class="mt-2 flex w-full justify-center rounded-md border border-transparent bg-tybo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tybo-700 focus:outline-none focus:ring-2 focus:ring-tybo-500 focus:ring-offset-2">
       <%=I18n.t("bo.sign_in_as.#{resource.to_s}")%>
    </a>
    <% end %>
    </div>
  </div>
</div>
<%= render(CoverComponent.new) %>
