<%= link_to @path, class: "#{current_page?(@path) ? 'bg-tybo-800 text-white hover:bg-tybo-800 font-semibold' : ''} flex p-2 my-1 text-sm  leading-6 rounded-md group gap-x-3 hover:bg-tybo-700 hover:text-white text-indigo-200" do %>
  <%= render(@icon.new) %>
  <span class="flex-1">
    <%= @label %>
  </span>
<% end %>
