<%= render(Devise::FormComponent.new(title: I18n.t("bo.devise.forgot_password") )) do %>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div>
      <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" },
          class: 'block text-sm font-medium text-gray-700' %>
    </div>

    <div class="mt-5">
      <%= f.button :submit, I18n.t("bo.devise.send_me_reset_password_instructions"), class: "flex w-full justify-center rounded-md border border-transparent bg-tybo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-tybo-700 focus:outline-none focus:ring-2 focus:ring-tybo-500 focus:ring-offset-2", data: { turbo: false }    %>
    </div>
  <% end %>
<% end %>
