<!DOCTYPE html>
<html>
  <head>
    <title>BO-<%= class_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>
    <%%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%%= javascript_importmap_tags %>
    <%%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="h-full bg-home">
    <%% if <%= class_name.underscore %>_signed_in? %>
    <%%= render('<%= class_name.underscore.pluralize %>/layouts/side_bar') %>
    <%% end %>
    <div class="lg:pl-72">
      <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
          <%%= render('layouts/flash') %>
          <%%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
