<!DOCTYPE html>
<html>
  <head>
    <title>BO-<%= class_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>
    <%%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%%= javascript_importmap_tags %>
    <%%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full bg-home">
    <%% if <%= class_name.underscore %>_signed_in? %>
      <%%= render('<%= class_name.underscore.pluralize %>/layouts/side_bar') %>
    <%% end %>
    <div class="<%%= 'md:pl-64' if <%= class_name.underscore %>_signed_in? %> flex flex-col flex-1">
      <main>
        <div class="py-6">
        <%%= render('layouts/flash') %>
          <%%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
