  <!-- has_many Associations -->
  <div class="my-5 select">
    <label class="block text-sm font-medium text-gray-700 string optional text-sm font-medium text-gray-600" for="office_user_ids"><%= @title %></label>
    <%= content %>
  </div>
