<div class="pt-5">
  <div class="flex justify-end">
    <button
      class="border-0 inline-flex items-center rounded-md focus:outline-none focus:ring-[3px] transition-all group disabled:!ring-0 whitespace-nowrap bg-gradient-button-primary from-[hsl(280,100%,65%)] to-[hsl(256,70%,50%)] hover:from-[hsl(280,100%,65%)] hover:to-[hsl(256,100%,59%)] focus:from-[hsl(280,100%,65%)] focus:to-[hsl(256,70%,50%)] focus:ring-purplesAlpha-600 disabled:from-purplesAlpha-200 disabled:to-purplesAlpha-200 dark:from-[hsl(280,90%,60%)] dark:to-[hsla(256,70%,50%,0.5)] dark:hover:from-[hsl(280,100%,65%)] dark:hover:to-[hsla(256,70%,50%,0.75)] dark:focus:from-[hsl(280,90%,60%)] dark:focus:to-[hsla(256,70%,50%,0.5)] dark:focus:ring-pinksAlpha-600 dark:disabled:from-[var(--colors-pinksAlpha-400)] dark:disabled:to-[var(--colors-pinksAlpha-400)] px-4 py-2"
    >
      <span
        class="text-sm font-semibold group-disabled:!text-[hsl(var(--purple-hue),12%,59%)] flex items-center gap-2 text-white">
        Sauvegarder
      </span>
    </button>
  </div>
</div>
