<div class="my-5">
  <label class="block text-sm text-gray-700 font-mediu string required">
    <%= @label %>
  </label>
  <%= @form.datetime_field @field, class: "mt-1 block border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-tybo-500 focus:border-tybo-500 sm:text-sm string required", disabled: @disabled %>
</div>
