<!DOCTYPE html>
    <html class="h-full bg-white">
  <head>
    <title>TY-BO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full">
    <main class="flex min-h-full">
      <%= yield %>
    </main>
  </body>
</html>
